@model Login
@section Styles {
    <link href="@Url.Content("~/css/loginpage.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "Login";
}
<div class="login-form">
    <form method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" class="form-control" placeholder="Username" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" asp-for="password">
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox" asp-for="Rememberme"> Remember me</label>
            @*<a href="#" class="float-right">Forgot Password?</a>*@
        </div>
    </form>
    <p class="text-center"><a asp-action="Register" asp-controller="Account">Register</a></p>
</div>